<div class="col-xs-12 col-sm-9">
     <div id="tagCloud">
      <div *ngFor="let tags of availableTags" class="row">
          <div (click)="onTagClick($event, tag)" [style.background-image]="tag.image" style="background-size:100% 100%" *ngFor="let tag of tags" class="col-md-2 clickable thin-border">
              <div class="bottom-align-text">
                  <label [attr.for]="tag.name">&nbsp;&nbsp;<i class="fa fa-picture-o mb-upload" aria-hidden="true"></i></label><input type="file" (change)="onUpload($event,tag, errorTooltip)" accept=".jpg, .png, .jpeg, .gif|images/*" [attr.id]="tag.name">&nbsp;&nbsp;<label>{{tag.name}}</label>&nbsp;&nbsp;&nbsp;
              </div>
          </div>
      </div>
    </div>
</div>
<div class="col-xs-12 col-sm-3 no-padding">

    <div class="panel panel-primary bookmark-scrollable bookmarkList no-margin-bottom">
        <a *ngFor="let value of filteredValues" href="{{value.url}}" target="_blank" class="list-group-item square-border">
            <img [src]="value.favIco"/>&nbsp;{{value.title}}
        </a>
    </div>
</div>
