<p></p>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"/> Display local bookmarks
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"/> Display static cloud
                </label>
            </div>
        </div>
    </div>
    <div class="alert alert-info text-center" role="alert"><strong>myBookmarks</strong> version 1.0, developed by <a href="http://codextension.io">CodeXtension.io</a> (<a href="https://github.com/codeXtension/myBookmarks">GitHub repository</a>)</div>
</form>