<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab"
                                              data-toggle="tab">General</a></li>
    <li role="presentation"><a href="#owncloud" aria-controls="owncloud" role="tab" data-toggle="tab">ownCloud</a>
    </li>
    <li role="presentation"><a href="#gdrive" aria-controls="gdrive" (click)="isConnected($event)" role="tab" data-toggle="tab">Google
        Drive</a></li>
    <li role="presentation" class="disabled"><a title="Coming soon!">Microsoft OneDrive</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="general">
        <localSettings>Loading ...</localSettings>
    </div>
    <div role="tabpanel" class="tab-pane" id="owncloud">
        <ocSettings>Loading ...</ocSettings>
    </div>
    <div role="tabpanel" class="tab-pane" id="gdrive">
        <googleSettings [connected]="connected">Loading ...</googleSettings>
    </div>
    <div role="tabpanel" class="tab-pane" id="onedrive">

    </div>
</div>