.bookmark-scrollable {
    overflow-y: auto;
    height: 770px;
}

.bookmarkList li {
    display: block;
    list-style-image: none;
}

a.list-group-item {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar:hover {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: lightgrey;
    -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background: #2196f3;
}

.bookmarkList li {
    display: block;
    list-style-image: none;
}

.separator {
    border-top: solid 1px lightgrey;
}

.square-border:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: none;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.middle-search {
    width: 40%;
    margin: auto;
}